body {
  font-family: sans-serif;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

header * {
	display: inline-block;
	padding-right: 2em;
}

header h1 {
  margin: 0.25em 0;
}

main {
  float: left;
  width: 900px;
  /*border: 1px solid red;*/
}

sidebar {
  display: block;
  width: 375px;
  float: left;
  /*border: 1px solid blue;*/
}

ul.legend {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
}

ul.legend li {
  display: inline-block;
  padding: 4px;
  color: #eee;
}

circle.solid {
  fill: none;
  stroke: #bbb;
}

circle.dashed, .axis {
  fill: none;
  stroke: #bbb;
  stroke-dasharray: 4,3;
}

.axis text {
  font-size: .75em;
  stroke-dasharray: none;
}

main ul.legend li {
  background: #666;
  margin: 0 2px;
  border-radius: 3px;
}

svg {
  display: inline-block;
}

path {
  fill: none;
  /*stroke: #bbb;*/
}

path.domain {
  stroke: #bbb;
  stroke-width: 1px;
  fill: none;
}

path.line {
  /*stroke: #333;*/
  stroke-width: 1px;
  fill: none;
}

path.blue {
	stroke: blue;
}

path.track {
  fill: none;
  stroke: #ccc;
  stroke-width: 4px;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.tick {
	font-size: 0.75em;
}