doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/javascripts/lapParser.js" charset="utf-8")
    script(src="/javascripts/chart.js" charset="utf-8")
    script(src="/javascripts/trackinfo.json" charset="utf-8")